<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="PathToChromeDriver"
         value="..\..\..\..\..\tools\Chrome Driver" />
    <add key="PathToIisExpress"
         value="..\..\..\..\..\tools\IIS Express" />
    <add key="PathToWebApp"
         value="..\..\..\LoginApp" />
    <add key="Port"
         value="1337" />
  </appSettings>
</configuration>