@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>LoginApp</title>
  <meta charset="UTF-8" />
</head>
<body>
  @RenderBody()
</body>
</html>
